@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  @apply font-bold text-3xl;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-bold text-xl;
}

h4 {
  @apply font-bold text-lg;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="range"]) {
  @apply p-2 border border-zinc-300 rounded-md;
}

button {
  @apply p-2 rounded-md bg-zinc-200 hover:bg-zinc-300 border border-zinc-300;
}

a {
  @apply underline;
}
